*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
.idea
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.app
*.[Cc]ache
Program.cs
*.sln
*.csproj
big-O/*
*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
publish/
*.Publish.xml
*.pubxml
*.azurePubxml
packages/
!packages/repositories.config
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
![Ss]tyle[Cc]op.targets
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.publishsettings
.DS_Store
go/.other/
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.cache
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
pids
_.pid
_.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.parcel-cache
out
dist
typescript/index.ts
typescript/index.js
package-lock.json